
.container-section{
    width: 75vw;
    background: #fff;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.1) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 5px;
    text-align: left;
}

h2{
    font-size: xx-large;
    padding: 10px 20px ;
}

hr{
    width: 98%;
    margin: auto;
    height: 1px;
    background-color: rgb(179, 179, 179);
    border: none;
}

.contenu {
    padding: 20px;
}

@media screen and (max-width: 769px) {
    .container-section{
        width: 95vw;
    }

    .contenu{
        padding: 5px;
    }
}





