footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: auto;
    background: #1b2430;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    color: #fff;
}

.footer-content{
    width: 100vw;
    display: inline-block;
    padding: 20px 30px;
    max-width: 1200px;
}

ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 30px;
}

li{
    text-decoration: none;
    list-style: none;
}

i{
    color: #fff;
}

a:hover i{
    color: #e84260;
}