nav {
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(218, 76, 114, 0.82);
    backdrop-filter: blur(10px);
    padding: 10px 10px 10px 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 15px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover {
    color: rgb(179, 179, 179);
}

#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(179, 179, 179);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#burger {
    display: none;
}

#burger i {
    color: #fff;
    align-items: center;
}

.logo {
    width: 45px;
    transition: transform 0.4s ease;
}

.logo:hover {
    transform: rotate(45deg);
}

.logo:not(:hover) {
    transform: rotate(-10deg);
}

@media screen and (max-width: 769px) {
    #navbar {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 74px;
        right: 0px;
        width: 0px;
        height: 100vh;
        background-color: rgb(179, 179, 179);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active {
        visibility: visible;
        width: 300px;
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #burger {
        display: block;
    }

    #burger i {
        font-size: 24px;
        cursor: pointer;
    }

    #navbar li a:hover {
        color: rgb(179, 179, 179);
    }

    #navbar li a:hover::after {
        background: rgb(179, 179, 179);
        left: 15px;
    }
}