
.container{
    width: 75vw;
    background: #fff;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-align: left;
}

h2{
    font-size: xx-large;
    padding: 10px 20px ;
}

hr{
    width: 98%;
    margin: auto;
    height: 2px;
    background-color: lightgray;
    border: none;
}

.contenu {
    padding: 20px;
}



