table{
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    font-size: 12px;
   
   }
   td , th{
    padding: 15px 20px;
    text-align: center;
    
   
   }
   th{
    background-color: rgba(218, 76, 114, 0.82);
    color: #fafafa;
    font-weight: 400;
    text-transform: uppercase;
   
   }
   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }