.containerFactions {
    display: flex;
}

.affichageTeams {
    background-color: rgb(233, 231, 231);
    border-radius: 5px;
    flex: 1.3;
    padding-left: 20px;
}

.affichagePoints {
    margin-left: 5%;
    background-color: rgb(233, 231, 231);
    border-radius: 5px;
    flex: 0.7;
    color: rgba(218, 76, 114, 0.82);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

#msgPoints {
    margin: 2% 5%;
    align-self: flex-start;
}

#msgTeams {
    margin: 2% 1%;
    align-self: flex-start;
}

.affichagePoints p {
    font-size: 9vw;
    /* Taille de police en fonction de la largeur de affichagePoints */
    max-height: 10%;
    /* Pour éviter que le texte ne dépasse trop la largeur */
    font-weight: 700;
    text-size-adjust: auto;
}

@media screen and (max-width: 769px) {
    .containerFactions {
        display: flex;
        flex-direction: column;
    }

    .affichageTeams {
        width: 100%;
        order: 2;
    }

    .affichagePoints {
        margin: auto;
        margin-bottom: 2.5%;
        width: 100%;
        order: 1;
    }

}