#button_container {
    width: 100%;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    display: flex
}

button {
    height: 36px;
    background-color: white;
    width: 33%;
    border-radius: 3px;
    border: 1px solid lightgray;
}

#left {
    margin-right: 1%;
}

#right {
    margin-left: 1%;
}