.container2 {
  margin-top: 20px;
  display: flex;
}

.action-menu {
  width: 20%;
  padding-right: 20px;
  border-right: solid;
  border-color: rgb(229, 116, 146);
}

.action-button {
  background-color: white;
  border: none;
  text-align: right;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 600;
}

.action-button:hover {
  text-decoration: underline; /* Underline on hover */
}

.form {
  flex: 1;
  margin-left: 5%;
}

.select-container {
  display: flex;
}

.css-b62m3t-container {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 20px;
}

input {
  height: 35px;
  border: solid lightgray 1px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
}

input:hover {
  border: solid gray 1px;
}

p {
  margin-bottom: 8px;
}


.submit-button {
  background-color: rgb(229, 116, 146);
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-button:hover {
  box-shadow: rgb(229, 116, 146) 0 1px 10px;
  transition-duration: .3s;
}

.submit-button:focus {
  background-color: rgba(229, 116, 146, 0.7);
  transition-duration: .3s;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}