
.containerJoinUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
}


.containerJoinUs li{
    list-style: none;
    margin-right: 40%;
    margin-left: 40%;
}


.containerJoinUs a{
    margin: 1.5%;
}

.containerJoinUs i{
    color: #1b2430;
    font-size: 1.5rem;
}

.containerJoinUs li a:hover{
    color: #e84260;
}

.containerJoinUs p{
    font-weight: bold;
}

@media screen and (max-width: 769px) {
    .containerJoinUs li{
        margin-right: 20%;
        margin-left: 20%;
    }
}