#container {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 420px;
    height: 350px;
    position: relative;
    color: #fff;
    padding: 30px 40px;
}

#container.active.register {
    visibility: hidden;
    width: 420px;
    height: 750px;
}

#container.active.login {
    visibility: hidden;
    width: 420px;
    height: 450px;
}

#container h1 {
    text-align: center;
}
.login-button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    list-style: none;
    transition: box-shadow .15s, transform .15s;
}


.login-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.login-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.login-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#formNouveau {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    padding: 0 20px;
}

#formNouveau.active {
    visibility: visible;
    opacity: 1;
}

#formNouveau h1 {
    margin: 10px 0;
    
}

#formNouveau h4 {
    margin: 10px 0;
}

#formNouveau p {
    margin: 10px 0;
}

#formNouveau .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

#formNouveau button {
    margin: 10px 0;
}
